<div class="shop_title">
    <h1>店舗一覧</h1>
</div>
<div class="shopWrap">
    <% @shops.each do |shop| %>
        <div class="shopDesign">
            <div class="shopContent">
                <span class="shop-title">
                    <p><%= shop.shop_name %></p>
                </span>
                <p><%= shop.email %></p>
                <p><%= shop.shop_postal_code %></p>
                <p><%= shop.shop_address %></p>
                <div class="imagebox">
                    <%= link_to '詳しく見る', shop_path(shop), class: "btn-flat-border" %>
                    <%= link_to "削除", shop_path(shop.id), method: :delete, class: "btn-flat-border" %>
                </div>
            </div>
        </div>
    <% end %>
</div>
