
<div class="showpost_title">
    <h1>店舗情報詳細</h1>
</div>

    <!--<div class="showshop" style="font-size:13pt">
        <div class="showshop_contents_shop-name">
            <%= @shop.shop_name %>
        </div>
        <div class="showshop_contents_shop-postal-code">
            <%= @shop.shop_postal_code %>
        </div>
        <div class="showshop_contents_shop-address">
            <%= @shop.shop_address %>
        </div>
        <div class="showshop_contents_email">
            <%= @shop.email %>
        </div>
        <div class="showshop_contents_edit-back-button">
            <%= link_to '編集', edit_shop_path %>
            <%= link_to '戻る', shops_path %>
        </div>
    </div>-->

<div class="shopWrap">
    <div class="shopDesign">
        <div class="shopContent">
            <p><%= @shop.shop_name %></p>
            <p><%= @shop.shop_postal_code %></p>
            <p><%= @shop.shop_address %></p>
            <p><%= @shop.email %></p>
            <% if shop_signed_in? %>
                <div class="imagebox">
                    <%= link_to '編集', edit_shop_path, class: "btn-flat-border" %>
                    <%= link_to '戻る', shops_path, class: "btn-flat-border" %>
                </div>
            <% end %>
        </div>
    </div>
</div>