
  <h1 class="newpost__title">新規投稿</h1>

  <%= form_for(@post) do |f| %>
<div class="newpost">
    <div class="newpost_contents_image">
      <h4>画像</h4>
      <h6>(商品画像、チラシ等)</h6>
      <%= f.attachment_field :product_image %>
    </div>

    <div class="newpost_contents_product">
      <h4>商品</h4>
      <%= f.text_field :product %>
    </div>

    <div class="newpost_contents_price">
      <h4>値段</h4>
      <%= f.text_field :price %>
    </div>

    <div class="newpost_contents_product-comment">
      <h4>ショップコメント</h4>
      <%= f.text_area :product_comment %>
    </div>

    <div class="newpost_contents_post-button">
      <%= f.submit '投稿' %>
    </div>

  <% end %>
</div>

