<h1 class="showpost__title">投稿詳細</h1>

<div class="postDesign">
    <span class="box-title">
        <%= @post.shop.shop_name %>
    </span>
    <div class="postContent">
        <p><%= @post.product %></p>
        <p><%= @post.price %></p>
        <p><%= @post.product_comment %></p>
        <p><%= image_tag attachment_url(@post, :product_image, :fill, 300, 300, format: "jpg") %></p>
        <% if shop_signed_in? %>
            <div class="imagebox">
                <%= link_to "編集", edit_post_path(@post.id), class: "btn-flat-border" %>
                <%= link_to "削除", post_path(@post.id), method: :delete, class: "btn-flat-border" %>
            </div>
        <% end %>
    </div>
</div>